<!DOCTYPE html>
<html>
  <head>
    <title>Omruby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Home", root_path %>
    <%= link_to "About", about_path %>
    <%= link_to "Contact", contact_path %>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-dark bg-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
        <%=link_to "OM Ruby", root_path, class: "navbar-brand" %>
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "About", about_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
      </ul>
    </div>
  </nav>

  <!--Page Content-->
  <%= yield %>


<!--Footer -->
    <footer class="small text-mutted">
      <div class="container">
        <hr>
        <center>
      </div>
    </footer>
  </body>
</html>
